apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
    - port: 80        # puerto externo 
      targetPort: 8888 # puerto dentro del contenedor